body {
  background-color: black;
}

.stage{
  height: 650px;
  width: 750px;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.enemy {
  fill: black;
}