body {
  background-color: black;
  font-family: sans-serif;
}

h1 {
  font-size: 40pt;
  margin-top: 0;
  margin-bottom: 0;
}

.stage{
  height: 650px;
  width: 750px;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.enemy {
  fill: black;
}

.player {
  fill: orange;
}